<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand">Forum de Jade</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link ml-4 btn btn-secondary text-white btn-sm" routerLink="/discussions" routerLinkActive="active">List of discussions 
						<span class="sr-only"></span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link ml-4 btn btn-secondary text-white btn-sm" routerLink="/create-discussion" routerLinkActive="active">New discussion 
						<span class="sr-only"></span>
					</a>
				</li>
			</ul>
			<span class="navbar-text mx-4" id="user">
				<span class="fa fa-user mx-2"></span>
				: {{this.actualUserMail}}
			</span>
			<span class="mx-4">
				<a class="btn btn-sm btn-secondary ml-4" routerLink="/login" routerLinkActive="active">
					<span class="fa fa-sign-out-alt"></span>
				</a>
			</span>
		</div>
	</nav>
	<hr>
	<router-outlet></router-outlet>
</div>

