<h1 class="ml-4 mt-4">
	List of discussions
	<span class="fa fa-comments ml-2"></span>
</h1>
<hr />
<div class="col-12">
	<div class="list-group">
		<li *ngFor="let item of discussions" class="list-group-item d-flex justify-content-between align-items-center bg-light mb-2 border">
			{{item.subject}}
			<div>
				<button class="btn btn-sm btn-primary" routerLink="/discussions/{{item.id}}" routerLinkActive="active">
					<span class="fa fa-eye justify-content-md-center"></span>
				</button>
				<button class="btn btn-sm btn-danger ml-2" (click)="deleteDiscussion(item.id)">
					<span class="fa fa-trash-alt justify-content-md-center"></span>
				</button>
			</div>
		</li>
	</div>
</div>
<button class="btn btn-secondary ml-4 mt-4" routerLink="/create-discussion" routerLinkActive="active">
	<span class="fa fa-plus mr-2"></span>
	Add a discussion
</button>